body {
    background-color: $body-bg;
}

#page {
    background-image: url("#{$image-theme-path}bg.png");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: contain;
}

#topbar .container .inside {
    padding-left: 10px;
    padding-right: 10px;
}

#topbar {
    border-bottom: none;
    .inside {
        border-bottom: 1px solid $topbar-border-color;
    }
}

#header-layout {
    .media-icon {
        // color: #fff;
    }
    .media-text a {
        // color: white;
    }
    .nav > li > a {
        // color: #fff;
        .caret {
            // color: #fff;
        }
        &:hover {
            color: $theme-color;
        }
    }
    .cart .cart-total {
        background-color: #2b8cdb;
    }
}

.product-label {
    &.flag {
        background-color: #e14646;
        &:before {
            border-top: 15px solid #e14646;
        }
        &:after {
            border-bottom: 15px solid #e14646;
        }
    }
}


// Optional heading
.#{$block-heading-selector} {
    color: #fff;
}


.footer-bottom {
    border-top: none;
    .inside {
        border-top: 1px solid #ddd;
    }
}

.breadcrumb {
    li {
        a {
            color: #fff;
            &:hover, &:active, &:focus {
                color: $theme-color;
            }
        }
    }
}

#content >h1 {
    color: #fff;
}

.bottom-offcanvas{
    border-top: none;
}

.pavproducts {
    border: none;
}

.box.latest_blog {
    .box-heading {
        color: #474747;
    }
}