// Topbar 
// ========================================================================
$topbar-outside-bg: #474747 !default;
$topbar-bg: transparent !default;
$topbar-border-color: #5b5b5b !default;

// Header 
// ========================================================================
$header-outside-bg: #474747 !default;
$header-bg: transparent !default;
$header-border-color: #dddddd !default;

/////// footer
$footer-color: 						#8a8c8c !default;

/////// footer center 
$footer-center-outside-bg :			#2c2c2c !default;
$footer-center-color:				#8a8c8c !default;
$footer-center-bg: 			 		transparent !default;
$footer-center-link:				#8a8c8c !default;	
$footer-center-link-hover:			$theme-color !default;	
$footer-center-border-color:        #3f3f3f !default;

/////// footer bottom 
$footer-bottom-outside-bg :			#2c2c2c !default;
$footer-bottom-color:				#8a8c8c !default;
$footer-bottom-bg: 			 		transparent !default;
$footer-bottom-link:				#8a8c8c !default;
$footer-bottom-link-hover:			$theme-color !default;	
$footer-bottom-border-color:        #3f3f3f !default;