// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";
// Image
// -------------------------
$image-theme-path:'../../image/skins/orange/';
$image-theme-path-base : '../../image/';

$btn-hover-cart-border : #fc5e00 !default;